body{
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

#ex{
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(30, 30, 30);
    border-radius: 20px;
    padding: 25px;
    text-align: justify;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    line-height: 2;
    margin: 20px;
}

#reps{
    color: yellow;
    font-size: 110%;
}

a{
    font-weight: bold;
    font-size: 130%;
}


